@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.project{
    background-color: $secondary-pink;
    padding: 20px 0;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        @include section-header;
        background-color: $secondary-light;
        padding: 15px;
        border-radius: 10px;
    }
    &__video{
        background-color: $secondary-light;
        width: 90vw;
        height: 90vh;
        box-shadow: 30px 10px $primary-pink;
        border-radius: 20px;
    }
    &__description{
        @include body-large;
        padding: 20px 60px;
        background-color: $secondary-light;
    }
    &__link{
        font-weight: 800;
        color: $primary-pink;
        text-decoration: none;
    }
    &__tech{
        @include subheader;
        padding: 20px 60px;
        background-color: $secondary-light;
        border-radius: 20px;
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 30px;
    }
    &__button-previous, &__button-next{
        background-color: $secondary-pink;
        border-radius: 5px;
        border: none;
        width: 100px;
        padding: 15px;
        @include body-large;

        &:hover{
            background-color: $primary-pink;
        }
    }

    
    @include tablet{

        &__title{
            @include section-header;
            background-color: $secondary-light;
            padding: 30px;
            border-radius: 10px;
        }
        &__button-previous, &__button-next{
            border-radius: 5px;
            border: none;
            width: 150px;
            padding: 25px;
        }
        
    }
    @include desktop{
        &__title{
            padding: 30px;
        }
        &__description{
            padding: 30px 450px;
        }
        &__button-previous, &__button-next{
            width: 150px;
            padding: 25px;
        }
        
    }
}
    