@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.projects{
    background-color: $secondary-pink;
    padding: 20px 0;

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 4px solid $primary-pink;
        padding: 20px;
        margin-right: 40px;
        border-radius: 50px;
        box-shadow: 10px 10px $primary-pink;
        background-color: $secondary-light;
        gap: 20px;
    }
    &__item-title{
        @include section-header;
        margin-bottom: -30px;
        border-bottom: 2px solid $primary-green;
    }
    &__item-img{
        width: 260px;
        margin-bottom: -50px;
        margin-top: -20px;
    }
    &__item-sword{
        width: 140px;
        margin-top: 30px;
    }
    &__item-telus{
        width: 200px;
        margin-top: 25px;
    }
    &__item-description{
        @include body;
        margin: 0 50px;
        text-align: center;
    }
    &__tech-title{
        @include subheader;
    }
    &__item-tech{
        @include body;

    }
    &__link-wrapper{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        align-items: center;
    }
    &__link-title{
        @include body;
    }
    &__item-link-img{
        height: 30px;
        width: 30px;
    }
    @include tablet{
        &__item{
            padding: 60px;
        }
        &__item-img{
            width: 300px;
            margin-bottom: -50px;
            margin-top: -20px;
        }
        &__item-sword{
            width: 140px;
            margin-top: 50px;
        }
        &__item-telus{
            width: 220px;
            margin-top: 25px;
        }
        &__item-link-img{
            height: 40px;
            width: 40px;
        }
    }
    @include desktop{
        &__list{
            flex-direction: row;
        }
        &__item{
            padding: 20px;
        }
        &__item-description{
            @include body;
            margin: 0 50px;
            text-align: center;
        }
        &__item-img{
            width: 350px;
            margin-bottom: -60px;
            margin-top: -50px;
        }
        &__item-sword{
            width: 150px;
            margin-top: 50px;
        }
        &__item-telus{
            width: 305px;
            height: 190px;
            margin-top: 25px;
        }
        &__item-link-img{
            height: 40px;
            width: 40px;
        }
        
    }
}
    