@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.hero{
    background-color: $cream;
    display: flex;
    justify-content: space-around;   
    padding: 0px 40px 30px 40px;

    &__img{
        height: 250px;
        width: 180px;
        border: 10px solid $secondary-green;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        margin-top: 20px;
    }
    &__content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    &__welcome{
        display: flex;
        @include section-header;
        flex-wrap: nowrap;
        margin: 5px;
        padding-left: 10px;
    }
    &__description{
        @include body;
        margin-left: 20px;
    }
    &__contact-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1.875rem;
    }
    &__contact-title{
        @include subheader;
    }
    &__linkedin-img, &__github-img{
        width: 1.875rem;
        height: 1.875rem;
    }
    &__resume-button{
        background-color: $cream;
        border-radius: 4px;
        border: solid 2px $primary-pink;
        width: 5rem;
        height: 2rem;
        @include body;

        &:hover{
            background-color: $secondary-pink;
        }
    }
    @include tablet{

    }
    @include desktop{

    }

}