@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.hero{
    background-color: $cream;
    display: flex;
    justify-content: space-around;   
    padding: 0px 40px 30px 40px;

    &__img{
        height: 260px;
        width: 190px;
        border: 10px solid $secondary-green;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        margin-top: 20px;
    }
    &__content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
    &__welcome{
        display: flex;
        @include section-header;
        flex-wrap: nowrap;
        margin: 5px;
        padding-left: 30px;
    }
    &__description{
        @include body-large;
        margin-left: 30px;
    }
    &__contact-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 1.875rem;
    }
    &__contact-title{
        @include subheader;
    }
    &__linkedin-img, &__github-img{
        width: 1.875rem;
        height: 1.875rem;
    }
    &__resume-button{
        background-color: $cream;
        border-radius: 4px;
        border: solid 2px $primary-pink;
        width: 5rem;
        height: 2rem;
        @include body-large;

        &:hover{
            background-color: $secondary-pink;
        }
    }
    @include tablet{
        padding: 0px 55px 30px 55px;

        &__img{
            height: 350px;
            width: 280px;
            margin-bottom: 20px;
            border: 15px solid $secondary-green;
        }
        &__linkedin-img, &__github-img{
            width: 2.5rem;
            height: 2.5rem;
        }
        &__resume-button{
            width: 5.5rem;
            height: 2.5rem;
        }
    }
    @include desktop{
        padding: 0px 200px 30px 200px;

        &__img{
            height: 400px;
            width: 350px;
            border: 20px solid $secondary-green;
            margin-left: 350px;
            margin-right: -50px;
        }
        &__description{
            @include body-large;
            margin: 10px 200px;
        }
        &__linkedin-img, &__github-img{
            width: 3.5rem;
            height: 3.5rem;
        }
        &__resume-button{
            width: 7rem;
            height: 3.5rem;
        }
    }

}