@font-face {
    font-family: "Inconsolata";
    src: url("../assets/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("../assets/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("../assets/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
    font-weight: 600;
    font-style: normal;
}