@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.about{
    margin: 40px;

    &__title{
        @include section-header;

    }
    &__education-wrapper{
        list-style: none;
        display: flex;
        flex-direction: column;

    }
    &__education-title{
        @include section-header;

    }
    &__education-item{
        @include subheader;

    }
}