@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.about{
    margin: 40px;

    &__title{
        @include section-header;
    }
    &__skills{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &__education{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;

    }
    &__education-title, &__skills-title{
        @include subheader;
        padding: 10px;
        border: 2px solid $secondary-pink;
        border-radius: 5px;
    }
    &__education-item, &__skills-item{
        @include body-large;
        list-style: none;

        &:hover{
            background-color: $cream;
            padding: 10px 20px;
            border-radius: 4px;
            box-shadow: 10px 10px $primary-pink
        }

    }
    &__skills-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }
    &__skills-learning{
        @include subheader;
        border-bottom: 2px solid $secondary-pink;
    }

    @include tablet{
    }
    @include desktop{
        padding: 100px;
        &__education-title, &__skills-title{
            @include section-header;
        }
        &__skills{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 275px;
            margin: 50px 0;
        }
    }
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include body-large;

    button{
        padding: 15px;
        width: 100px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: $secondary-green;

        &.active {
        background-color: $primary-green;
        font-weight: bold;

        }
    }
    @include tablet{
        &__button{
            padding: 20px;
            width: 120px;
        }

    }
    @include desktop{
        &__button{
            margin-top: -30px;
            padding: 20px;
            width: 120px;
        }
        
    }
}
