@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;


.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cream;
    padding: 10px;
    border-radius: 5px;

    &__title-wrapper{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-right: 10px;
        align-items: center;
    }
    &__logo{
        width: 60px;
        height: 60px;
    }
    &__title{
        @include page-header;
    }
    &__nav{
        display: flex;
        flex-direction: row;
        gap: 20px;

    }
    &__nav-about, &__nav-projects{
        @include subheader;

    }
    @include tablet{

    }
    @include desktop{

    }
}