@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.tech{
    &__list{}
    &__item{
        width: 40px;
        height: 40px;
    }
    &__img{
        width: 40px;
        height: 40px;

    }
}